*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style to navbar */
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    width: 100%;
    background-color: white;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 3.125rem;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.demo-button{
    background-color: #0CD2FE;
    color: #FFFFFF;
    border-radius: 50rem;
    line-height: 1.5;
    border-style: none;
    height:28px;
    width: 120px;
}

/* Style to footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #202942;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    margin-top: 3.125rem;
}

footer section{
    display: flex;
    justify-content: space-between;
    gap: 6.25rem;
    color: #FFFFFF;
}

footer section article{
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: 30%;
}

footer section article div{
    display: flex;
    flex-direction: row;
}

footer section a{
    color: #FFFFFF;
    text-decoration: none;
}

.icon-right-margin{
    margin-right: .625rem;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-mode-img-right{
    display: grid;
    grid-template-columns: 80% 20%;
}

.section-mode-img-left{
    display: grid;
    grid-template-columns: 20% 80%;
}

main section{
    width: 55%;
    margin-top: 3.125rem;
    gap: 2%;
}

main section article ul li{
    display: flex;
    flex-direction: row;
    gap: .3125rem;
    margin: .3125rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

.format-img{
    width: 200px;
    height: 220px;
}

.text-center{
    text-align: center;
}
