*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Heebo", sans-serif;
}

/* Style to navbar */
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
    width: 100%;
    background-color: white;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 3.125rem;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-size: 1.375rem;
    font-family: "Heebo", sans-serif;
}

.demo-button{
    background-color: #0CD2FE;
    color: #FFFFFF;
    border-radius: 50rem;
    line-height: 1.5;
    border-style: none;
    height:28px;
    width: 120px;
}

/* Style to footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #202942;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    margin-top: 3.125rem;
}

footer section{
    display: flex;
    justify-content: space-between;
    gap: 6.25rem;
    color: #FFFFFF;
}

footer section article{
    display: flex;
    flex-direction: column;
    gap: .625rem;
    width: 30%;
}

footer section article div{
    display: flex;
    flex-direction: row;
}

footer section a{
    color: #FFFFFF;
    text-decoration: none;
}

.icon-right-margin{
    margin-right: .625rem;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-80-20{
    display: grid;
    grid-template-columns: 80% 20%;
}

.grid-20-80{
    display: grid;
    grid-template-columns: 20% 80%;
}

.grid-50-50{
    display: grid;
    grid-template-columns: 50% 50%;
}

main section{
    width: 55%;
    margin-top: 3.125rem;
    gap: 2%;
}

main section article ul li{
    display: flex;
    flex-direction: row;
    gap: .3125rem;
    margin: .3125rem;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.25rem;
}

h3{
    font-size: 1.5rem;
}

p{
    text-align: justify;
    font-size: 1rem;
}

.format-img{
    width: 200px;
    height: 220px;
}

.text-center{
    text-align: center;
}

/* Payment plan cards style */

.price-table{
    display: flex;
    justify-content: space-between;
}

.price-card{
    background-color:#FFFFFF;
    border-radius:10px;
    box-shadow: 0px 2px 5px #858585;
}

.header-price-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#202942;
    color: #FFFFFF;
    height: 6.25rem;
    padding:1px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.content-price-card{
    display: flex;
    flex-direction: column;
    margin: .9375rem;
}

.feature-content-price-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;
    margin-bottom: .625rem;
}

.footer-content-price-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-feature{
    width: 16px;
    height: 16px;
}