@mixin flex($direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin imageSize($height, $width){
    height: $height;
    width: $width;
}