$darkTextColor: #000000;
$lightTextColor: #FFFFFF;

$darkBackgroundColor: #5c59b4;
$lightBackgroundColor: #FFFFFF;

$backgroundButton: #f4b04b;

$footerBackgroundColor: #461067;

$shadowColor: #858585;

$cardTitleBackgroundColor: #461067;

$formBackgroundColor: #f4e5c8;

$linkHoverColor: #f4b04b;