$darkTextColor: #000000;
$lightTextColor: #FFFFFF;

$darkBackgroundColor: #000000;
$lightBackgroundColor: #FFFFFF;

$backgroundButton: #0CD2FE;

$footerBackgroundColor: #202942;

$shadowColor: #858585;

$cardTitleBackgroundColor: #202942;

$formBackgroundColor: #149aecea;

$linkHoverColor: orange;