form{
    border-radius:10px;
    box-shadow: 0px 2px 5px $shadowColor;
    background-color: $formBackgroundColor;
    padding: 1.25rem;
    width: 25rem;
    input{
        border-radius:5px;
        border-style: solid;
        border-width: 1px;
        width: 100%;
        margin-bottom: 5px;
    }
}

.form-footer{
    @include flex(row, center, center);
    margin-top: 1.25rem;
}